@media (max-width: 1200px) {

    $width-site: 786px;
    $gap: 24px;
    $font-size: 16px;

    h4 br {
        display: none;
    }

    .center {
        padding-left: calc(50% - $width-site/2);
        padding-right: calc(50% - $width-site/2);
    }

    .hero-page {

        &__content {
            padding-top: 120px;
            padding-bottom: 180px;
        }

        &__title {
            font-size: $font-size * 3;
        }

        &__subtitle {
            font-size: $font-size * 1.5;
            line-height: 100%;
            max-width: 496px;
            padding-bottom: 36px;
        }

        &__button {
            display: block;
            max-width: 285px;
        }
    }

    .hero-page::after {
        background-size: 50%;
        top: -200px;
        right: -780px;
    }

    mark {
        font-weight: 600;
    }

    .big-green {
        width: 35px;
        height: 35px;
        top: 97px;
        left: 37px;
        opacity: 1;
    }

    .small {
        width: 21px;
        height: 21px;
        top: 64px;
        left: 91px;
        opacity: 1;
    }

    .big {
        width: 40px;
        height: 40px;
        bottom: 79px;
        right: 34px;
        opacity: 1;
    }

    .small-green {
        width: 18px;
        height: 18px;
        bottom: 125px;
        right: 86px;
        opacity: 1;
    }

    .container-game {
        padding-top: 32px;
        padding-bottom: 16px;

        &__title {
            font-weight: 600;
            font-size: $font-size * 2;
            line-height: 100%;
            margin-bottom: 16px;
        }

        &__subtitle {
            font-weight: 400;
            font-size: $font-size;
            line-height: 100%;
        }
    }

    .content-box {
    margin-top: 32px;
    gap: $gap;    
}

.for {     
    gap: $gap;         

    &__item {
        background-color: #F7F7F7;
        border-radius: 30px;
        padding-bottom: 36px;
        color: rgba(32, 32, 39, 1);
    }

    &__item-img {
        max-width: 100%;
        margin-bottom: 40px;
        border-radius: 30px;
    }

    &__item-details {
        background-color: rgba(247, 247, 247, 1);
        align-content: flex-start;
        border-radius: 20px;
        font-size: $font-size;
        font-weight: 500;
        line-height: 20px;
        margin-left: 32px;
        margin-bottom: 26px;
        width: fit-content;
    }

    &__item-title {
        font-size: $font-size * 1.3;
        font-weight: 500;        
        margin-left: 24px;
        margin-right: 32px;
    }
}

    .container-minigames {
        padding-bottom: 10px;

        &__title {
            margin-bottom: 48px;
        }
    }

    .minigames {        
        margin-top: 24px;

        &__title {
            font-size: $font-size * 2;
        }

        &__details {
            font-size: $font-size;
            margin-top: 16px;
            margin-bottom: 32px;
        }

        &__button {
            font-size: $font-size;
            line-height: 20px;
        }

        &__img {
            height: 100%;
            width: 100%;
        }
    }

    .minigames-content {
        width: 100%;
        padding: 30px;
        flex-direction: column
    }
}
